
.header {
    position: fixed;
	top: 0;
    left: 0;
	z-index: 1030;
	width: 100%;
    height: 50px;
    font: 400 16px sans-serif;
    line-height: 50px;
    background-color: skyblue;
    
}

.header_logo {
    position: fixed;
    left: 30px;
}

.header_logo a {
    text-decoration: none;
    color: pink;
}

.header .header_a {
    right: 30px;
    position: absolute;
}

.header .header_a a {
    display: inline-block;
    color: black;
    width: auto;
    text-align: center;
    text-decoration: none;
}

.header .header_a a:hover {
    color: #cc3302;
}

#home {
    color: #cc3302;
}

.header .header_a span {
    display: inline-block;
    width: 25px;
}

body {
    background-color: #EEEEEE;
}

.news_a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: #cc3302; 
}

.body{
	width: 90%;
	margin: 100px auto;
	min-height: 100%;
}

.footer{
	position: relative;
	margin-top: 200px;
    height: 90px;
/*    background-color: pink;*/
    font-family: sans-serif;

}

.footer dl dd{
	color: black;
	text-align:left;
/*	background-color: skyblue;*/
	font-weight: 400;
}

h3 {
    color: tomato;
    font-weight: 400;
}

p {
    text-indent: 2em;
    font-size: 16px;
    font-family: Times;
}

.info_modified {
    position:fixed;
    bottom:0;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}


#contact {
    display: none;
    position: absolute;
}

#contact:hover img{
    display: block;
}