.publictions_display{
	width: 100%;
	height:auto;
	margin: 0px auto;
}

.box3{
	width:70%;
	height: 240px;
	display: flex;
	margin-top: 30px;
	margin-left:50px;
	padding-top: 30px;
	padding-left: 20px;
}
img{
    width: 100%;
    height: 100%;
}

.box3 .publictions_img{
	margin-top: 20px;
	width:240px;
	height:135px;
	background-color: #0000FF;
}

.box3 .publictions_text{
	width:70%;
	height:200px;
	color:#888888;
	margin-left: 30px;
	font-size: 18px;
	/* border:2px solid red; */
}

.box3 .indentation{
	text-indent: 2em;
}

.box3 .publictions_text h3{
	font-weight: normal;
	color: black;
}

.box3 .publictions_more{
	width:150px;
	height:200px;
	border: #00FFFF;
}

.box3 .publictions_more p{
	opacity: 0;
	width:110px;
	font-size: 25px;
	color: black;
	font-weight: bold;
	border-left: 3px solid black;
	margin-top:80px;
	
}

.box3 .publictions_more p a{
	text-decoration: none;
	color: #000000;
}

.box3:hover .publictions_img{
	transition: 0.5s;
	/* margin-left:20px; */
	transform: scale(1.20);
	/* transform: translateX(20px); */
}

.publictions_img img {
	width: 100%;
	height: 100%;
}

.box3:hover .publictions_text{
	transition: 0.8s;
	margin-left:40px;
}

.box3:hover .publictions_more p{
	opacity:1;
	transition: 1s;
	margin-left: 5px;
}

.splitLine{
	position:relative;
	font-size:16px;
	color:#999;
	overflow:hidden;
	text-align:center;
}

.publictions_title {
	text-align: center;
	color: #999;
	font-family: 'Times';
	font-style:normal;
}